body {
    background-color: black;
    color: white;
    padding: 20px;
    border: 5px solid white;
    border-radius: 20px;
}


h1 {
    text-align: center;

    font-size: 30px;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor {
    
    margin: 5px;
    padding: 5px;
}

.imagen {text-align: right;
  width: 50%;}

